.achievement-statics{
    margin-bottom: clamp(60px, 10vw, 100px);
    .container{
        background-color: $primary-color;
        color: white;
        border-radius: 5px;
        .content{
            .count{
                font-size: clamp(30px, 5vw, 46px);
                font-weight: 500;
            }
            .title{
                font-size: 18px;
                // font-weight: 400;
                // text-transform: uppercase;
                margin: 0;
            }
        }
    }
}
    