.achievement-statics{
    margin-bottom: 100px;
    .container{
        background-color: $primary-color;
        color: white;
        border-radius: 5px;
        .content{
            .count{
                font-size: 46px;
                font-weight: 500;
            }
            .tilte{
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .achievement-statics{
        margin-bottom: 50px;
    }    
}
    