body{
    background-color: $primary-bg;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #808080;
    margin: 0; 
    padding: 0; 
    a{
        text-decoration: none;
    }
    p{
        margin: 0;
    }
}