body{
    background-color: darken($primary-bg, 3%);
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #808080;
    margin: 0; 
    padding: 0; 
    a{
        text-decoration: none;
    }
    p{
        margin: 0;
    }
}
.xx-text{
    font-size: clamp(40px, 5vw, 68px);
    font-weight: 700;

}
.xl-text{
    font-size: clamp(38px, 5vw, 42px);
    font-weight: 700;

}
.highlight-text{
    color: $primary-color;
}

.primary-btn{
    background-color: $primary-color;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    font-size: clamp(12px, 5vw, 15px);
    font-weight: 600;
    color: white;
    &:hover{
        color: $primary-color;
        background-color:lighten($primary-color,25%);
    }
    &:active{
        outline: none;
        box-shadow: none;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
    
}
.card{
    border: none;
    border-radius: 5px;
    .fas{
        color:$primary-color;
    }
    .title{
        font-size: 18px;
        font-weight: 600;
    }
    .description{
        line-height: 1.8;
    }
}