.current-opening{
    margin-bottom: clamp(60px, 10vw, 100px);
    .primary-btn:not(.view-all-btn){
        background-color:lighten($primary-color, 30%);
        color: $primary-color;
        &:hover{
            background-color: $primary-color;
            color: white;
        }
    }
}