.current-opening{
    margin-bottom: 100px;
    .primary-btn:not(.view-all-btn){
        background-color:lighten($primary-color, 30%);
        color: $primary-color;
        &:hover{
            background-color: $primary-color;
            color: white;
        }
    }
}