.job-search {
    margin-bottom: clamp(60px, 10vw, 100px);

    .card {
         input[type=text],
         .form-select {
             border: none;
             background-color: $primary-bg;
             height: 45px;
             &:focus{
                 box-shadow: none;
             }
         }
         input[type=checkbox] {
             border:none;
             background-color: #f78546;
             height: 25px;
             width: 45px;
             &:focus {
                 box-shadow: none;
             }
         }
    }
}