.welcome-banner{
    margin-bottom: 100px;
    .service-intro{
        .xx-text{
            line-height: 1.4;
        }
        .xx-text{
            margin: 0;
        }
        .description{
            margin-bottom: 80px;
        }
    }
}
@media screen and (max-width: 768px){
    .welcome-banner{
        margin-bottom: 50px;
        .service-intro{
            .description{
                margin-bottom: 30px;
            }
            .primary-btn{
                margin-bottom: 24px;
            }
        }
    }
}