.who-we-are{
    margin-bottom: clamp(60px, 10vw, 100px);
    .intro{
        .description{
            line-height: 2;
            padding:0;
        }
        .primary-btn{
            padding: 10px 20px;
        }
     }
    
    
}